@import "tailwindcss";


@theme {
  --breakpoint-xms: 200px;
  --breakpoint-xls: 376px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1400px;


  --color-primary:#ffffff; 
  --color-secondary:#000000;
  --color-accent:#767676;
}
